.workoutlog {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  color: black;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
}

.workoutlog h2 {
  color: #454ef5; 
  margin-bottom: 0.75rem;
  font-size: 1.76rem;
  text-align: center;
}

.workoutlog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.workoutlog li {
  margin-bottom: 0.75rem;
  padding: 0.6rem 0.8rem;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workoutlog li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.workoutlog p {
  margin: 0.2rem 0;
  transition: color 0.3s ease;
}

.workoutlog li:hover p {
  color: rgb(209, 196, 4);
}

.workoutlog button {
  background-color: #454ef5; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.workoutlog button:hover {
  background-color: rgb(209, 196, 4);
  transform: scale(1.05);
}

.workout-form {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f0f0f0;
}

.workout-form h3 {
  margin-bottom: 0.75rem;
  color: rgb(75, 75, 75);
  font-size: 1.25rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.add-button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.Edit-outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: rgb(180, 204, 246);
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}

.message {
  position: Fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 24px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.message.success {
  background-color: #51e956;
}

.message.error {
  background-color: #f24e43;
}
