.progress-tracker {
  background-color: #2b35ea;
  padding: 5rem;
  border-radius: 30px;
  margin: 2rem auto;
  max-width: 900px;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}
 
.progress-tracker img {
  max-width: 800px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 2rem;
}
 
.progress-tracker h2 {
  color: rgb(209, 196, 4);
  margin-bottom: 2rem;
  font-size: 28px;
}
 
.progress-tracker ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  max-width: 700px;
}
 
.progress-tracker li {
  background: #ffffff;
  border: 2px solid #d6d6d6;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
 
}
 
.progress-tracker li:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  border-color: #1a3d6d;
}
 